body {
	overflow: hidden;
}
body {
    background-color: #1F1F14;
}
canvas {
	display: block;
}

#gameCanvas {
    /*background:url('../img/example.jpg')*/
    background-color: #b8ffaf;
}

#canvas{
    visibility:hidden;
}
