<!DOCTYPE html>

<html lang="en">

	<head>
		<title>Game</title>
		<meta charset="utf-8">
        <link rel="stylesheet" href="style/bootstrap.min.css">
		<link rel="stylesheet" href="style/reset.css">
		<link rel="stylesheet" href="style/game.css">
	</head>
	
    <body>
        <div class="container">
            <canvas id="gameCanvas"></canvas>
        </div>
        <canvas id="canvas"></canvas> <!-- used to pre-render -->
        <script src="/socket.io/socket.io.js"></script>

		<script src="js/requestAnimationFrame.js"></script>
		<script src="js/Keys.js"></script>
        <script src="js/Wall.js"></script>
        <script src="js/pathfinding-browser.min.js"></script>
		<script src="js/Player.js"></script>
		<script src="js/game.js"></script>

		<script>
			// Initialise the game
            var socket = io();
			init(socket);
			animate();
		</script>
	</body>
</html>
